<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">Học NodeJS</a>
    <a class="dropdown-item" href="/search">Search</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Nguyễn Tiến Dũng
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
        <li><a class="dropdown-item" href="/#">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</nav>
